{% extends "base.html" %}
{% load static %}

{% block content %}
<table id="clientlist" class="table compact nowrap stripe hover">
  <thead>
    <tr>
        <th class="colhead">#</th>
        <th class="colhead">Name</th>
        <th class="colhead">ID</th>
        <th class="colhead">Notes</th>
    </tr>
  </thead>
  <tbody>
      {% for client in clients %}
      <tr class="clientrow">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.pantry_id }}</td>
          <td>{{ client.notes }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
</style>
{% endblock %}

{% block footer-scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#clientlist').DataTable();
} );
</script>
{% endblock %}
