<!DOCTYPE html>
<html lang="en">
  <head>
{% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <!-- Required meta tags for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="{% static "pantry/base.css" %}" rel="stylesheet" type="text/css">
{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}
  </head>
  <!--
  <body background="{% static "pantry/images/bg.gif" %}">
   -->
  <body>
      <div id="banner" class="container">
          <div class="row justify-content-between align-items-end">
            <div class="col-auto">
              <h1>OLS Food Pantry</h1>
            </div>
            <!--
            <div class="col-auto">
              <p>
              {% if user.is_authenticated %}
              {{ user.username }}
              &nbsp;&nbsp;|&nbsp;&nbsp;
              {% endif %}
              {% if user.is_authenticated %}
              <a style="text-align=right color=#aaa" href="/accounts/logout/?next={{ request.path }}">Log out</a>
              {% else %}
              <a style="text-align=right color=#aaa" href="/accounts/login/?next={{ request.path }}">Log in</a>
              {% endif %}
              </p>
            </div>
            -->
          </div>
      </div>
      <div class="container">
      <nav class="navbar navbar-toggleable-sm navbar-expand-md navbar-dark bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{{ root_url }}/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ root_url }}/about/">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ root_url }}/stats/">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Distributions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Clients</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
            <a class="nav-link" href="{{ root_url }}/admin/">Admin</a>
            </li>
            {% endif %}
          </ul>
          <div>
            <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="navbar-text">
            {{ user.username }}&nbsp;&nbsp;
            </li>
            {% endif %}
            <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" style="text-align=right color=#aaa" href="/accounts/logout/?next={{ request.path }}">Log out</a>
            {% else %}
            <a class="nav-link" style="text-align=right color=#aaa" href="/accounts/login/?next={{ request.path }}">Log in</a>
            {% endif %}
            </li>
            </ul>
          </div>
          <!--
          <form class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
        </div>
      </nav>
      </div>
      <div id="sidebar">
      </div>
      <div id="content" class="container">
        <div id="maintext" class="row span9 offset1 whitebkg">
            {% block content %}
            <p>Your content here!</p>
            <p>ROOT_URL: {{ root_url }}</p>
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="footer" class="container">
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
